/.DS_Store
/Lab 10 - Data prep & transfer learning.ipynb
/Lab 4 - Linear Regression.ipynb
/Lab 5 - Automatic Differentiation.ipynb
/Lab 6 - Logistic regression & pytorch for DL.ipynb
/Lab 7 - Neural Networks.ipynb
/Lab 8 - Unsupervised learning.ipynb
/Lab 9 - Generative Model.ipynb
/R-vs-Python-master
/SeoulBikeData.csv
/master.zip
Intro to ML/master.zip
Intro to ML/R-vs-Python-master/README.md
Intro to ML/R-vs-Python-master/Deadliest movies/bloody_gun.jpg
Intro to ML/R-vs-Python-master/Deadliest movies/custom.css
Intro to ML/R-vs-Python-master/Deadliest movies/pandoc_config.txt
Intro to ML/R-vs-Python-master/Deadliest movies/run.html
Intro to ML/R-vs-Python-master/Deadliest movies/run.md
Intro to ML/R-vs-Python-master/Deadliest movies/run.R
Intro to ML/R-vs-Python-master/Deadliest movies/code/code.py
Intro to ML/R-vs-Python-master/Deadliest movies/code/code.R
Intro to ML/R-vs-Python-master/Deadliest movies/figure/baseGraphR.png
Intro to ML/R-vs-Python-master/Deadliest movies/figure/gunR.png
Intro to ML/R-vs-Python-master/Deadliest movies/figure/prettyR.png
Intro to ML/R-vs-Python-master/Deadliest movies/figure/rightLabelsR.png
Intro to ML/R-vs-Python-master/Deadliest movies/figurePy/basePy.png
Intro to ML/R-vs-Python-master/Deadliest movies/figurePy/finalPy.png
Intro to ML/R-vs-Python-master/Deadliest movies/figurePy/prettyPy.png
Intro to ML/R-vs-Python-master/Deadliest movies scrape/custom.css
Intro to ML/R-vs-Python-master/Deadliest movies scrape/notebook.html
Intro to ML/R-vs-Python-master/Deadliest movies scrape/notebook.md
Intro to ML/R-vs-Python-master/Deadliest movies scrape/notebook.R
Intro to ML/R-vs-Python-master/Deadliest movies scrape/notebook2.html
Intro to ML/R-vs-Python-master/Deadliest movies scrape/notebook2.md
Intro to ML/R-vs-Python-master/Deadliest movies scrape/notebook2.R
Intro to ML/R-vs-Python-master/Deadliest movies scrape/pandoc_config.txt
Intro to ML/R-vs-Python-master/Deadliest movies scrape/pandoc_config2.txt
Intro to ML/R-vs-Python-master/Deadliest movies scrape/programming_cat.jpg
Intro to ML/R-vs-Python-master/Deadliest movies scrape/code/film-death-counts-Python.csv
Intro to ML/R-vs-Python-master/Deadliest movies scrape/code/imdb-scraper.py
Intro to ML/R-vs-Python-master/Deadliest movies scrape/code/imdb-scraper.R
Intro to ML/R-vs-Python-master/Deadliest movies scrape/code/movie-scraper.py
Intro to ML/R-vs-Python-master/Deadliest movies scrape/code/movie-scraper.R
Intro to ML/R-vs-Python-master/Deadliest movies scrape/code/movies-python.csv
Intro to ML/R-vs-Python-master/Deadliest movies scrape/code/movies-R-full.csv
Intro to ML/R-vs-Python-master/Deadliest movies scrape/code/movies-R.csv
Intro to ML/R-vs-Python-master/Deadliest movies scrape/code/movies.csv
Intro to ML/R-vs-Python-master/Linear regression/custom.css
Intro to ML/R-vs-Python-master/Linear regression/Linear regression.Rproj
Intro to ML/R-vs-Python-master/Linear regression/notebook.html
Intro to ML/R-vs-Python-master/Linear regression/notebook.md
Intro to ML/R-vs-Python-master/Linear regression/notebook.R
Intro to ML/R-vs-Python-master/Linear regression/pandoc_config.txt
Intro to ML/R-vs-Python-master/Linear regression/code/code.ipynb
Intro to ML/R-vs-Python-master/Linear regression/code/code.R
Intro to ML/R-vs-Python-master/Linear regression/figure/graphBaseR.png
Intro to ML/R-vs-Python-master/Linear regression/figure/graphPredictR.png
Intro to ML/R-vs-Python-master/Linear regression/figurePy/graphBasePy.png
Intro to ML/R-vs-Python-master/Linear regression/figurePy/graphPredictPy.png
ML Project/SeoulBikeData.csv
spam.pdf
spam
datasets/cifar-10-python.tar.gz
